@font-face {
  font-family: "GothamLight";
  src: url("./fonts/GothamLight.eot");
  src: local("GothamLight"), url("./fonts/GothamLight.woff") format("woff"),
    url("./fonts/GothamLight.ttf") format("truetype");
}
